body{
	margin:0;
	padding:0;
	width: 100%;
	background: #000;
    
    .header{
        width: 60%;
        margin: auto;
        .nav{
        position: fixed !important;
        display: inline-block;
        margin: auto;
        background: rgba(0, 0, 0, 0.5);
       

    ul{
        position: relative;
        float: right;        
    li{
        display: inline-block;
        list-style-type: none;
        margin-right:10px;
        
    a{
        text-transform:uppercase;
        text-decoration: none;
        color:white;
        
    &:hover{
        text-decoration: underline;
        color:white;
}}}}}} //END HEADER
   

.level1{
    background: url(../img/1.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 800px;
    box-sizing: border-box;
           
    } //END level1
    
    .center{
    margin: 0 auto;
    padding-top: 30px;
    width: 100%;
    height: 80px;
    
    .text{
        text-align: center;
//        width: 7%;
        margin: auto;
        color: red;
        text-shadow: 0px 0px 50px ;
        }
        .sign{
            margin: 0 auto;
            padding-top:10px;
            background: url(../img/warningSmall.png)no-repeat;
            background-size: contain;
            width: 40px;
            height: 40px; 
        }
    }
    
.level2{
    
    width: 100%; //1570px;
    height: 100%;//410px; 
    

    
.phraze{
    width:  90%;
    margin: 0 auto;
    p{
        color: white;
        font-size: 15pt;
        text-align: center;
    }
}
    
    .boxing{
        
        width: 100%;
        height: 1200px;
        
        .left{
            display: inline-block;
            float: left;
            width: 50%;
            height: 1200px;
            background: white;
            
        
            .left1{    
                position: relative;
                width: 100%;
                height: 400px;
                background: url(../img/2a.jpg)no-repeat;
                background-size: cover;
                
            }
            .left2{
                width: 100%;
                height: 400px;
                background: white;
                .center{

                    .text{                        
                        
                    }
                    .sign{
                        background: url(../img/%C4%AFmon%C4%97.png)no-repeat;
                        background-size: cover;
                        background-position: center;
                        width: 15%;
                        
                        height: 100px; 
                    }
                }
                .phraze{
                    p{
                        color:#000;
                    }
                }
            }
            .left3{
                width: 100%;
                height: 400px;
                 background: url(../img/2c.jpg)no-repeat;
                background-size: cover;
            }
        }
        .right{
            display: inline-block;
            float: right;
            width: 50%;
            height: 1200px;
            
            .right1{
                position: relative;
                width: 100%;
                height: 400px;
                background: #000;
                .center{
                    .text{
                        width: 30%; 
                        text-align: center;                             
                    }
                    .sign{
                        background: url(../img/%C5%A1eima.png)no-repeat;
                        width: 20%;
                        height: 130px; 
                        background-size: cover;
                    }
                    .phraze{
                        p{
                            color: white;
                        }
                    }
                }
            }
            .right2{
                width: 100%;
                height: 400px;
                background: url(../img/2b.jpg)no-repeat;
                background-size: cover;
            }
            .right3{
                width: 100%;
                height: 400px;
                background: #000;
                
                .center{
                    .text{
                        width: 30%;
                        text-align: center;
                        
                    }
                    .sign{
                        background: url(../img/turistai.png)no-repeat;
                        width: 24%;
                        height: 130px; 
                        background-size: cover;
                    }
                    .phraze{
                        p{
                            color: white;
                        }
                    }
                }
            }
        }
    
    }
    
    
} //END LEVEL2
    
.level3{
    width: 100%;
    height: 100%;
    background: white;
    
    .center{
        margin-bottom: 40px;
        .text{
            color: #000;
            text-shadow: 0 0 0;
        }
        .sign{
            background: url(../img/kambariai.png)no-repeat;
            background-position: center;

            
    }} //CENTER
    
} //END level3
   
                
.image1{
            background: url(../img/3a.jpg)no-repeat;
            background-size: cover;
            width: 100%;
            height: 800px;
            
            .position{
            position: inherit;
            display: inline-block;
            width:40%;
            left:5%;
            margin-top: 25%;
                    
            p{
                width: 80%;
                margin: auto;
                color: white;
                font-size: 1.5rem;
            }
        }
        
    }
    
    .levelpic{
        background: white;
        width: 100%;
        height: 600px;
        
        .image2{     
            display: inline-block;
            float:left;
            background: url(../img/3b.jpg)no-repeat;
            background-size: contain;
            width: 40%;
            height: 100%;
    }
        .righttext{
            display: inline-block;
            float: right;
            width: 40%;
            height: 100%;
            p{
                padding: 10px;
                width: 90%;
                text-align: justify;
            }
            
            
            .box{
                background: black;
                margin: auto;
                width: 70%;
                height: 70%;
                p{
                    padding: 5px;
                    text-align: center;
                    margin: auto;
                    color: white;
                    font-size: 1.5rem;
                    
                    span{
                        color:red;
                    }
                    
            }
        }
    }
    }
    
.levelreg{
    width: 100%;
    height: 50px;
    background: #000;
  
    .button{
        float:right;
        left:20px;
        width: 25%;
        height: 100%;
        
        .click{
            background: red;
            width: 35%;
            margin:5px;
            padding: 7px;
            text-align: center;
            border-radius: 15px;
            transition: all 0.3s ease;
            a{
                text-decoration: none;
                color: white;
            }
            
        }
        .click:hover{
            color: red;
            width: 35%;
            margin:5px;
            padding: 7px;
            text-align: center;
            border-radius: 15px;
            transition: all 0.3s ease;
            background: #fff;

            a:hover{
                color:red;
            }
            }
    }
     }
 
.level5{
    width: 100%;
    height: 150px;
    background: white;
    .center{
        text-align: center;
        .text{
            color:black;
            text-shadow: 0 0 0;
        }
        .sign{
            background: url(../img/galerija.png)no-repeat;
            background-position: center;
        }
    }} // end LEVEL5
    
     .boxing2{
        background: white;
        width: 100%;
        height: 400px;
        
        .left2{
            display: inline-block;
            background: url(../img/Layer%201.png)no-repeat;
            background-position: center;
            width: 50%;
            height: 80%;
            .shadow{
                display: inline-block;
                width: 20%;
                height: 1px;
                box-shadow: 15px 25px 30px 3px;
                background-position: center;
                margin-left: 39%;
                margin-top: 40%;
            }
        }
        .right2{
            display: inline-block;
            float:right;
            background: url(../img/TeamEscape_Rooms_Slide1.jpg)no-repeat;
            background-position: center;
            background-size: cover;
            width: 50%;
            height: 80%;
            box-shadow: 5px 5px 15px 5px;
        }
    }   //END boxing2
    
.radiacija{
    width: 100%;
    height: 700px;
    background: url(../img/4a.jpg)no-repeat;
    background-position: center;
    background-size: cover;
    .radiotext{
        margin-top: 5%;
        width: 30%;
        display: inline-block;
        float:right;
        p{
            width: 95%;
            text-align: right;
            color: white;
        }
    }
    }//END radiacija
    
.level6{
    width: 100%;
    height: 700px;
    background: white;
    
    .left6{
        width: 50%;
        height: 100%;
        float: left;
        
        p{
            margin: 40px auto 20px;
            width: 70%;
            text-align: justify;
            
            
        }
        .box{
            background: black;
            margin: auto;
            width: 60%;
            height: 70%;
            
                p{
                  padding: 5px;
                  text-align: center;
                  margin: auto;
                  color: white;
                  font-size: 1.5rem;
                    
                span{color:red;}
    }}}
    .mask{
        float:right;
        background: url(../img/4b.jpg)no-repeat;
        background-size: cover;
        width: 50%;
        height: 100%;
    }//END level6
    }
.button{
        float:left;
        
    .click2{
            background: red;
            width: 35%;
            margin:5px;
            padding: 7px;
            text-align: center;
            border-radius: 15px;
            transition: all 0.3s ease;
            a{
                text-decoration: none;
                color: white;
            }
            
        }
    
    .click2:hover{
            color: red;
            width: 35%;
            margin:5px;
            padding: 7px;
            text-align: center;
            border-radius: 15px;
            transition: all 0.3s ease;
            background: #fff;

            a:hover{
                color:red;
            }
            }
}
    
    
.rezervacija{
    width: 100%;
    height: 800px;
    background: url(../img/5.jpg)no-repeat;
    background-size: cover;
    .center{
        margin-top:20px;    
        .text{
            color: white;
        }
    .sign{
//        position: relative;
        background: url(../img/rezervacija.png)no-repeat;
        background-size: contain;
        background-position: center;
    }
        }
    
    .regbox{
        width: 90%;
        height: 50%;
        margin: auto;
        
        .lbox {
           width: 50%;
            height: 100%;
            float:left;
            background: rgba(255,0,0,0.5);
            p{
                text-align: center;
                color:white;
            }
            
            form{
               
                #date{
                    width:70px;
                    margin-right: 50px;
                    border: 2px solid black;
                    
                }
                input{
                    display: block;
                    width: 80%;
                    line-height: 2.5em;
                    background: white;
                    margin:10px auto 10px;
                    
                    
                }
                select{
                    width: 20%;
                    display: inline-block;
                    margin:10px 10% 10px;
                }
            }
        }
        .rbox{
            width: 50%;
            height: 100%;
            float:right;
            background:rgba(0, 0, 0, 0.5);
            color:white;
            .center{
                margin:0;
                height: 40px;
                text-align: center;
                font-weight: bold;
                p{
                    margin: 0;
                }
                
                span{
                    color:red;
                }
            }
            .kontakt{
                width: 80%;
                margin:auto;
                p{
                    
                    span{
                    color:red;
                    }
                
                }
                
            }
        }  
    }
}//END rezervacija
    
    .levelDUK{
        width: 100%;
        height: 800px;
        background: white;
        
        .center{
            .text{
                text-align: center;
            }
            .sign{
             background: url(../img/ic_info_outline_black_24dp_2x.png)no-repeat; 
                background-position: center;
            }
        }
        .question{
            width: 100%;
           padding-left: 70px;
            .black{
                background: grey;
                p{
                    color:white;
                    text-transform:uppercase;
                    padding-left:20px
                }
            }
            .white{
                margin:0;
                padding: 0;
                p{
                    padding-left:20px;
                    margin:0;                
                }
            }
        }//end QUESTION
    }//end levelDUK
    
    .footer{
        width: 100%;
        height: 80px;
        background: #000;
        
        ul{
            text-align: center;
            
            li{
                display: inline-block;
                text-decoration: none;
                width:24%;
                vertical-align: top;
                
                img{
            display: inline-block;
            width: 70px;
            height: 70px;
        }
                p{
            color:white;
            span{
                color:red;
            }
        }
            }
        }
        
    }
} //END body





