body {
  margin: 0;
  padding: 0;
  width: 100%;
  background: #000;
}
body .header {
  width: 60%;
  margin: auto;
}
body .header .nav {
  position: fixed !important;
  display: inline-block;
  margin: auto;
  background: #000;
  opacity: 0.5;
}
body .header .nav ul {
  position: relative;
  float: right;
}
body .header .nav ul li {
  display: inline-block;
  list-style-type: none;
  margin-right: 10px;
}
body .header .nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  opacity: 1;
}
body .header .nav ul li a:hover {
  text-decoration: underline;
  color: blue;
}
body .level1 {
  background: url(/img/1.jpg) no-repeat;
  background-size: contain;
  width: 100%;
  height: 800px;
  box-sizing: border-box;
}
body .center {
  margin: 0 auto;
  padding-top: 30px;
  width: 100%;
  height: 80px;
}
body .center .text {
  width: 7%;
  margin: auto;
  color: red;
  text-shadow: 0px 0px 50px ;
}
body .center .sign {
  margin: 0 auto;
  padding-top: 10px;
  background: url(/img/warningSmall.png) no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
}
body .level2 {
  width: 100%;
  height: 100%;
}
body .level2 .phraze {
  width: 90%;
  margin: 0 auto;
}
body .level2 .phraze p {
  color: white;
  font-size: 15pt;
  text-align: center;
}
body .level2 .boxing {
  width: 100%;
  height: 1200px;
}
body .level2 .boxing .left {
  display: inline-block;
  float: left;
  width: 50%;
  height: 1200px;
  background: white;
}
body .level2 .boxing .left .left1 {
  position: relative;
  width: 100%;
  height: 400px;
  background: url(/img/2a.jpg) no-repeat;
  background-size: cover;
}
body .level2 .boxing .left .left2 {
  width: 100%;
  height: 400px;
  background: white;
}
body .level2 .boxing .left .left2 .center .sign {
  background: url(/img/%C4%AFmon%C4%97.png) no-repeat;
  background-size: cover;
  width: 15%;
  height: 130px;
}
body .level2 .boxing .left .left2 .phraze p {
  color: #000;
}
body .level2 .boxing .left .left3 {
  width: 100%;
  height: 400px;
  background: url(/img/2c.jpg) no-repeat;
  background-size: cover;
}
body .level2 .boxing .right {
  display: inline-block;
  float: right;
  width: 50%;
  height: 1200px;
}
body .level2 .boxing .right .right1 {
  position: relative;
  width: 100%;
  height: 400px;
  background: #000;
}
body .level2 .boxing .right .right1 .center .text {
  width: 30%;
  text-align: center;
}
body .level2 .boxing .right .right1 .center .sign {
  background: url(/img/%C5%A1eima.png) no-repeat;
  width: 20%;
  height: 130px;
  background-size: cover;
}
body .level2 .boxing .right .right1 .center .phraze p {
  color: white;
}
body .level2 .boxing .right .right2 {
  width: 100%;
  height: 400px;
  background: url(/img/2b.jpg) no-repeat;
  background-size: cover;
}
body .level2 .boxing .right .right3 {
  width: 100%;
  height: 400px;
  background: #000;
}
body .level2 .boxing .right .right3 .center .text {
  width: 30%;
  text-align: center;
}
body .level2 .boxing .right .right3 .center .sign {
  background: url(/img/turistai.png) no-repeat;
  width: 24%;
  height: 130px;
  background-size: cover;
}
body .level2 .boxing .right .right3 .center .phraze p {
  color: white;
}
body .level3 {
  width: 100%;
  height: 100%;
  background: white;
}
body .level3 .center {
  margin-bottom: 40px;
}
body .level3 .center .text {
  color: #000;
  text-shadow: 0 0 0;
}
body .level3 .center .sign {
  background: url(/img/kambariai.png) no-repeat;
  background-size: contain;
  width: 70px;
  height: 70px;
}
body .image1 {
  background: url(/img/3a.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 800px;
}
body .image1 .position {
  position: inherit;
  display: inline-block;
  width: 40%;
  left: 5%;
  margin-top: 25%;
}
body .image1 .position p {
  width: 80%;
  margin: auto;
  color: white;
  font-size: 1.5rem;
}
body .levelpic {
  background: white;
  width: 100%;
  height: 600px;
}
body .levelpic .image2 {
  display: inline-block;
  float: left;
  background: url(/img/3b.jpg) no-repeat;
  background-size: contain;
  width: 40%;
  height: 100%;
}
body .levelpic .righttext {
  display: inline-block;
  float: right;
  width: 40%;
  height: 100%;
  color: red;
}
body .levelpic .righttext .box {
  background: black;
  margin: auto;
  width: 70%;
  height: 70%;
}
body .levelpic .righttext .box p {
  text-align: center;
  margin: auto;
  color: white;
}
body .levelpic .righttext .box p span {
  color: red;
}
body .levelpic .level4 {
  width: 100%;
  background: #000;
}
body .levelpic .level4 button {
  margin-left: 80%;
  color: green;
}
