body {
  font-family: 'Calibri', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #000;
  font-size: 1vw;
}
body .header {
  width: 100%;
  position: fixed !important;
  background: rgba(0, 0, 0, 0.5);
}
body .header .nav {
  width: 80%;
  margin: auto;
}
body .header .nav ul {
  width: 100%;
  float: right;
}
body .header .nav ul li {
  display: inline-block;
  list-style-type: none;
  margin-right: 10px;
  width: 15%;
  text-align: center;
  vertical-align: middle;
}
body .header .nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}
body .header .nav ul li a:hover {
  text-decoration: none;
  color: #fe0000;
}
body .level1 {
  background: url(../img/1.jpg) no-repeat;
  background-size: 100%;
  width: 100%;
  height: 700px;
  box-sizing: border-box;
}
body .center {
  margin: 0 auto;
  padding-top: 30px;
  width: 100%;
  height: 80px;
}
body .center .text {
  text-align: center;
  margin: auto;
  color: #fe0000;
  text-shadow: 0px 0px 50px ;
}
body .center .sign {
  margin: 0 auto;
  padding-top: 10px;
  background: url(../img/warningSmall.png) no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
}
body .level2 {
  width: 100%;
  height: 100%;
}
body .level2 .phraze {
  width: 90%;
  margin: 0 auto;
}
body .level2 .phraze p {
  color: white;
  font-size: 1.5vw;
  text-align: center;
}
body .level2 .boxing {
  width: 100%;
  height: 1200px;
}
body .level2 .boxing .left {
  display: inline-block;
  float: left;
  width: 50%;
  height: 1200px;
  background: white;
}
body .level2 .boxing .left .left1 {
  position: relative;
  width: 100%;
  height: 400px;
  background: url(../img/2a.jpg) no-repeat;
  background-size: cover;
}
body .level2 .boxing .left .left2 {
  width: 100%;
  height: 400px;
  background: white;
}
body .level2 .boxing .left .left2 .center .sign {
  background: url(../img/%C4%AFmon%C4%97.png) no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 100%;
}
body .level2 .boxing .left .left2 .phraze p {
  color: #000;
}
body .level2 .boxing .left .left3 {
  width: 100%;
  height: 400px;
  background: url(../img/2c.jpg) no-repeat;
  background-size: cover;
}
body .level2 .boxing .right {
  display: inline-block;
  float: right;
  width: 50%;
  height: 1200px;
}
body .level2 .boxing .right .right1 {
  position: relative;
  width: 100%;
  height: 400px;
  background: #000;
}
body .level2 .boxing .right .right1 .center .text {
  width: 30%;
  text-align: center;
}
body .level2 .boxing .right .right1 .center .sign {
  background: url(../img/%C5%A1eima.png) no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 100%;
}
body .level2 .boxing .right .right1 .center .phraze p {
  color: white;
}
body .level2 .boxing .right .right2 {
  width: 100%;
  height: 400px;
  background: url(../img/2b.jpg) no-repeat;
  background-size: cover;
}
body .level2 .boxing .right .right3 {
  width: 100%;
  height: 400px;
  background: #000;
}
body .level2 .boxing .right .right3 .center .text {
  width: 30%;
  text-align: center;
}
body .level2 .boxing .right .right3 .center .sign {
  background: url(../img/turistai.png) no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 100%;
}
body .level2 .boxing .right .right3 .center .phraze p {
  color: white;
}
body .level3 {
  width: 100%;
  height: 100%;
  background: white;
}
body .level3 .center {
  margin-bottom: 40px;
}
body .level3 .center .text {
  color: #000;
  text-shadow: 0 0 0;
}
body .level3 .center .sign {
  background: url(../img/kambariai.png) no-repeat;
  background-position: center;
}
body .image1 {
  background: url(../img/3a.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 800px;
}
body .image1 .position {
  position: absolute;
  display: inline-block;
  width: 40%;
  left: 5%;
  margin-top: 25%;
}
body .image1 .position p {
  width: 80%;
  margin: auto;
  color: white;
  font-size: 2vw;
}
body .levelpic {
  background: white;
  width: 100%;
  height: 700px;
  box-sizing: border-box;
}
body .levelpic .image2 {
  display: inline-block;
  float: left;
  background: url(../img/3b.jpg) no-repeat;
  background-size: contain;
  width: 40%;
  height: 100%;
}
body .levelpic .righttext {
  display: inline-block;
  float: right;
  width: 40%;
  height: 100%;
}
body .levelpic .righttext p {
  padding: 10px;
  width: 90%;
  text-align: justify;
  font-size: 1.5vw;
}
body .levelpic .righttext .box {
  background: black;
  margin: auto;
  width: 70%;
  height: 400px;
  max-height: 450px;
  box-sizing: border-box;
}
body .levelpic .righttext .box p {
  padding: 5px;
  text-align: center;
  margin: auto;
  color: white;
  font-size: 1.5vw;
}
body .levelpic .righttext .box p span {
  color: #fe0000;
}
body .levelreg {
  position: absolute;
  width: 100%;
  height: 50px;
  background: #000;
}
body .levelreg .button {
  float: right;
  left: 20px;
  width: 25%;
  height: 100%;
}
body .levelreg .button .click {
  background: red;
  width: 35%;
  margin: 5px;
  padding: 7px;
  text-align: center;
  border-radius: 15px;
  transition: all 0.3s ease;
}
body .levelreg .button .click a {
  text-decoration: none;
  color: white;
}
body .levelreg .button .click:hover {
  color: red;
  width: 35%;
  margin: 5px;
  padding: 7px;
  text-align: center;
  border-radius: 15px;
  transition: all 0.3s ease;
  background: #fff;
}
body .levelreg .button .click:hover a:hover {
  color: red;
}
body .level5 {
  width: 100%;
  height: 150px;
  background: white;
}
body .level5 .center {
  text-align: center;
}
body .level5 .center .text {
  color: black;
  text-shadow: 0 0 0;
}
body .level5 .center .sign {
  background: url(../img/galerija.png) no-repeat;
  background-position: center;
}
body .boxing2 {
  background: white;
  width: 100%;
  height: 400px;
}
body .boxing2 .left2 {
  display: inline-block;
  background: url(../img/Layer%201.png) no-repeat;
  background-position: center;
  width: 50%;
  height: 80%;
}
body .boxing2 .left2 .shadow {
  display: inline-block;
  width: 20%;
  height: 1px;
  box-shadow: 15px 25px 30px 3px;
  background-position: center;
  margin-left: 39%;
  margin-top: 40%;
}
body .boxing2 .right2 {
  display: inline-block;
  float: right;
  width: 50%;
  height: 80%;
  box-sizing: border-box;
}
body .boxing2 .right2 .slider {
  width: 100%;
  text-align: center;
  overflow: hidden;
}
body .boxing2 .right2 .slides {
  display: flex;
  overflow-x: auto;
  border-radius: 5px;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scroll-snap-points-x: repeat(300px);
  scroll-snap-type: mandatory;
}
body .boxing2 .right2 .slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
body .boxing2 .right2 .slides::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}
body .boxing2 .right2 .slides::-webkit-scrollbar-track {
  background: transparent;
}
body .boxing2 .right2 .slides > div {
  flex-shrink: 0;
  width: 100%;
  height: 300px;
  border-radius: 10px;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}
body .boxing2 .right2 .slides > div:target {
  transform: scale(0.8);
}
body .boxing2 .right2 .author-info {
  background: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 0.75rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
}
body .boxing2 .right2 .author-info a {
  color: white;
}
body .boxing2 .right2 img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
body .boxing2 .right2 .slider > a {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
}
body .boxing2 .right2 .slider > a:active {
  top: 1px;
}
body .boxing2 .right2 .slider > a:focus {
  background: #000;
}
body .boxing2 .right2 #slide-1 {
  background: url(../img/slider/1.jpg) no-repeat;
  background-size: contain;
}
body .boxing2 .right2 #slide-2 {
  background: url(../img/slider/2.jpg) no-repeat;
  background-size: contain;
}
body .boxing2 .right2 #slide-3 {
  background: url(../img/slider/3.jpg) no-repeat;
  background-size: contain;
}
body .boxing2 .right2 #slide-4 {
  background: url(../img/slider/4.jpg) no-repeat;
  background-size: contain;
}
body .boxing2 .right2 #slide-5 {
  background: url(../img/slider/5.jpg) no-repeat;
  background-size: contain;
}
body .radiacija {
  width: 100%;
  height: 700px;
  background: url(../img/4a.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}
body .radiacija .radiotext {
  margin-top: 5%;
  width: 30%;
  display: inline-block;
  float: right;
}
body .radiacija .radiotext p {
  width: 95%;
  text-align: right;
  color: white;
}
body .level6 {
  width: 100%;
  height: 700px;
  background: white;
}
body .level6 .left6 {
  width: 50%;
  height: 100%;
  float: left;
}
body .level6 .left6 p {
  margin: 40px auto 20px;
  width: 70%;
  text-align: justify;
  font-size: 1.5vw;
}
body .level6 .left6 .box {
  background: black;
  margin: auto;
  width: 60%;
  height: 70%;
  max-height: 400px;
}
body .level6 .left6 .box p {
  padding: 5px;
  text-align: center;
  margin: auto;
  color: white;
  font-size: 1.5vw;
}
body .level6 .left6 .box p span {
  color: red;
}
body .level6 .mask {
  float: right;
  background: url(../img/4b.jpg) no-repeat;
  background-size: cover;
  width: 50%;
  height: 100%;
}
body .button {
  float: left;
}
body .button .click2 {
  background: red;
  width: 35%;
  margin: 5px;
  padding: 7px;
  text-align: center;
  border-radius: 15px;
  transition: all 0.3s ease;
}
body .button .click2 a {
  text-decoration: none;
  color: white;
}
body .button .click2:hover {
  color: red;
  width: 35%;
  margin: 5px;
  padding: 7px;
  text-align: center;
  border-radius: 15px;
  transition: all 0.3s ease;
  background: #fff;
}
body .button .click2:hover a:hover {
  color: red;
}
body .rezervacija {
  width: 100%;
  height: 800px;
  background: url(../img/5.jpg) no-repeat;
  background-size: cover;
}
body .rezervacija .center {
  margin-top: 20px;
}
body .rezervacija .center .text {
  color: white;
}
body .rezervacija .center .sign {
  background: url(../img/rezervacija.png) no-repeat;
  background-size: contain;
  background-position: center;
}
body .rezervacija .regbox {
  width: 90%;
  height: 50%;
  margin: auto;
}
body .rezervacija .regbox .lbox {
  width: 50%;
  height: 100%;
  float: left;
  background: rgba(255, 0, 0, 0.5);
}
body .rezervacija .regbox .lbox p {
  text-align: center;
  color: white;
}
body .rezervacija .regbox .lbox form input {
  display: block;
  width: 80%;
  line-height: 2.5em;
  background: white;
  margin: 10px auto 10px;
}
body .rezervacija .regbox .lbox form .row {
  width: 80%;
  margin: auto;
}
body .rezervacija .regbox .lbox form .row select {
  width: 35%;
  display: inline-block;
  margin: 10px auto 10px;
}
body .rezervacija .regbox .lbox form .row #date {
  display: inline-block;
  width: 20%;
  border: 2px solid black;
  line-height: 1.5vm;
  background: white;
  text-align: center;
  vertical-align: middle;
  float: right;
}
body .rezervacija .regbox .rbox {
  width: 50%;
  height: 100%;
  float: right;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}
body .rezervacija .regbox .rbox .center {
  margin: 0;
  height: 40px;
  text-align: center;
  font-weight: bold;
}
body .rezervacija .regbox .rbox .center p {
  margin: 0;
}
body .rezervacija .regbox .rbox .center span {
  color: red;
}
body .rezervacija .regbox .rbox .kontakt {
  width: 80%;
  margin: auto;
}
body .rezervacija .regbox .rbox .kontakt p span {
  color: red;
}
body .levelDUK {
  width: 100%;
  height: 800px;
  background: white;
}
body .levelDUK .center .text {
  text-align: center;
}
body .levelDUK .center .sign {
  background: url(../img/ic_info_outline_black_24dp_2x.png) no-repeat;
  background-position: center;
}
body .levelDUK .question {
  width: 90%;
  padding-left: 70px;
}
body .levelDUK .question .black {
  background: grey;
}
body .levelDUK .question .black p {
  color: white;
  text-transform: uppercase;
  padding-left: 20px;
}
body .levelDUK .question .white {
  margin: 0;
  padding: 0;
}
body .levelDUK .question .white p {
  padding-left: 20px;
  margin: 0;
}
body .footer {
  width: 100%;
  height: 80px;
  background: #000;
}
body .footer ul {
  text-align: center;
}
body .footer ul li {
  display: inline-block;
  text-decoration: none;
  width: 24%;
  vertical-align: top;
}
body .footer ul li img {
  display: inline-block;
  width: 70px;
  height: 70px;
}
body .footer ul li p {
  color: white;
}
body .footer ul li p span {
  color: red;
}
