[Desktop Entry]
Encoding=UTF-8
Name=Link to Java - Подготовка к экзамену - 2 часть - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=Hv0wh48o0J0&feature=youtu.be
Icon=text-html
