[Desktop Entry]
Encoding=UTF-8
Name=Link to Java - Подготовка к экзамену - 1 часть - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=SH6j8oGronU&feature=youtu.be
Icon=text-html
